<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.therealsuji.vtopchennai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PrivacyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Privacy Policy"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrivacyActivity" />
        </activity>
        <activity
            android:name=".DownloadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Download Data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DownloadActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimetableActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Timetable"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimetableActivity" />
        </activity>
        <activity
            android:name=".AttendanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Attendance"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AttendanceActivity" />
        </activity>
        <activity
            android:name=".MessagesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Messages"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MessagesActivity" />
        </activity>
        <activity
            android:name=".SpotlightActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Spotlight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SpotlightActivity" />
        </activity>
        <activity
            android:name=".StaffActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Staff"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StaffActivity" />
        </activity>
        <activity
            android:name=".FacultyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Faculty"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FacultyActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>