<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.therealsuji.vtopchennai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PrivacyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Privacy Policy"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrivacyActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimetableActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Timetable"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimetableActivity" />

            <intent-filter>
                <action android:name="tk.therealsuji.vtopchennai.LAUNCH_TIMETABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttendanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Attendance"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AttendanceActivity" />
        </activity>
        <activity
            android:name=".MessagesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Class Messages"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MessagesActivity" />
        </activity>
        <activity
            android:name=".CoursesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Courses"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FacultyActivity" />
        </activity>
        <activity
            android:name=".ExamsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Exam Schedule"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExamsActivity" />
        </activity>
        <activity
            android:name=".MarksActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Marks"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MarksTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MarksActivity" />
        </activity>
        <activity
            android:name=".GradesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Grades"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GradesActivity" />
        </activity>
        <activity
            android:name=".GradeHistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Grade History"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GradeHistoryActivity" />
        </activity>
        <activity
            android:name=".SpotlightActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Spotlight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SpotlightActivity" />
        </activity>
        <activity
            android:name=".DirectionsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Directions"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DirectionsActivity" />
        </activity>
        <activity
            android:name=".CampusMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Campus Map"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CampusMapActivity" />
        </activity>
        <activity
            android:name=".StaffActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Staff"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StaffActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProctorMessagesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Proctor Messages"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProctorMessagesActivity" />
        </activity>
        <activity
            android:name=".ReceiptsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Payment Receipts"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReceiptsActivity" />
        </activity>
        <activity
            android:name=".ReportBugActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Report Bug"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReportBugActivity" />

            <intent-filter>
                <action android:name="tk.therealsuji.vtopchennai.LAUNCH_REPORT_BUG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".NotificationReceiver" />
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
