name: Build & Release

on:
  release:
    types: published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'

      - name: Build unsigned apk
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease

      - name: Sign apk
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/apk/release
          alias: ${{ secrets.KEY_ALIAS }}
          signingKeyBase64: ${{ secrets.KEYSTORE }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload signed apk
        run: |
          cd app/build/outputs/apk/release
          git init
          git remote add origin https://x-access-token:${{ secrets.COMMIT_TOKEN }}@github.com/therealsujitk/website-vtop-chennai
          git config --global user.email "bot@therealsuji.tk"
          git config --global user.name "earphone-jack"
          git fetch
          git checkout main
          mv app-release-unsigned-signed.apk public/assets/apk/vtop_chennai_${{ github.ref_name }}.apk
          git add --all public/
          git commit -m "Release ${{ github.ref_name }}"
          git push
